:root{
    --background-body: #AED6F1;
    --background-aside: #47ABB2;
    --background-text: rgba(248, 248, 248, 0.8);
    --fuente: 'Docallisme';
    --aside-text-color: white;
    --a-color: black;
}
@font-face {
    font-family: 'Docallisme';
    src: url(../fonts/DOCALLISME\ ON\ STREET.ttf);
}