@font-face {
    font-family: 'Docallisme';
    src: url(../fonts/DOCALLISME\ ON\ STREET.ttf);
}


body{
    width: 98%;
    margin: auto;
    background-color: #AED6F1 ;
}
aside{
    width: 15%;
    background-color: black;
    float: left;
    color: white;
    text-align: center;
}
.area{
    transform: rotate(60deg);
}
main{
    width: 83%;
    float: right;
}
h1{
text-align: center;
}

main{
    border-radius: ;
}

h1{
    background-color: rgba(248, 248, 248, 0.8);
    padding: 20px;
    margin-bottom: 40px;
    font-family: 'Docallisme';
}

p{
    background-color: rgba(248, 248, 248, 0.8);
    text-align: justify;
    padding: 20px;
}