.container{
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: 
    "tit2"
    "tex2"
    "tit3"
    "tex3"
    "titciclos"
    "texciclos";
    justify-content: center;
}