.container{
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "tit2"
    "tex2"
    "titciclos"
    "texciclos"
    "imgciclos";
    justify-content: center;
}
